{% form_theme form _self %}
{% block order_line_row %}
<div class="row mb-3">
    <div class="col-3">
        {{ form_widget(form.quantity) }}
        {{ form_errors(form.quantity) }}
    </div>
    <div class="col-5">
        {{ form_widget(form.product) }}
        {{ form_errors(form.product) }}
    </div>
    <div class="col-1">
        <button class="btn btn-danger delete-line" type="button">
            Del.
        </button>
    </div>
</div>
{% endblock %}