{% block select_quantity_type_row %}
    <button class="btn-minus" type="button"><i class="fa fa-minus"></i></button>
    {{ form_widget(form.quantity) }}
    <button class="btn-plus" type="button"><i class="fa fa-plus"></i></button>
{% endblock %}
