{% extends 'base.html.twig' %}
{% block title %}Hello DefaultController!{% endblock %}
{% block body %}
    <div class="row">
        {{ render(controller('App\\Controller\\DefaultController::display', {max: 3})) }}
    </div>
{% endblock %}
